#history {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  background-color: var(--negro);
}
#history article {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 1s ease-in-out 250ms 1 forwards;
}
#history article > h2 {
  background-color: var(--primario);
  color: var(--blanco);
  border-radius: 1.25rem;
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
}

#history article p {
  width: calc(100% - 1rem);
  border-radius: 1.25rem;
  background-color: var(--secundario);
  color: var(--negro);
  font-weight: 700;
  padding: 0.25rem 0.75rem;
}

#history picture {
  width: 25%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-position: center;
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight 1s ease-in-out 250ms 1 forwards;
}

#history picture img {
  object-position: center;
  object-fit: cover;
}

@media (max-width: 1024px) {
  #history {
    padding: 1rem;
  }
  #history picture {
    display: none;
    animation: none;
  }
  #history article {
    width: 100%;
    align-items: center;
    text-align: center;
    animation: none;
    opacity: 1;
    transform: translateX(0);
  }
  #history article p {
    width: 100%;
    padding: 1rem;
    font-size: medium;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
